@import "../../scss/variables";
   

h3 {
    height: 50px;
}

#chart-container {
    min-width: 300px;
}

.dashboard-data-value {
    font-weight: bold;
    font-size: 24px;
    color: #515365;
}

.dashboard-data-name {
    font-weight: bold;
    font-size: 12px;
    color: #506690;
}

#dashboard-data {

    p {
        margin: 0px;
        padding: 0px 15px;
    }

    svg {
        font-size: 40px;
        color: $primary-color;
    }
}

table {

    tr {
        border-bottom: 1px solid $border-bottom;
        height: 40px;
    }

    th {
        color: $primary-color;
    }

    td {
        font-weight: 300;
    }
}
