
// Colors
$primary-color: #4361EE;
$secondary-color: #B0D1D1;
$gray-text: #506690;

// Border
$border-bottom: #E0E6ED;

// Ubuntu Font
$ubuntu-font: 'Ubuntu', sans-serif;
$ubuntu-light: 300;
$ubuntu-regular: 400;
$ubuntu-bold: 600;
