
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: $ubuntu-font;
}

body {
    background-color: #f1f2f7;
}

.container {
    @extend .animated;
    @extend .fadeIn;
}

.form-check-input:checked {
    background-color: $primary-color;
    border-color: $primary-color;
}

.form-check-input:focus {
    box-shadow: none;
}

a {
    color: $primary-color;
    text-decoration: none;
    cursor: pointer;
}

.card-style {
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.108129);
    border: 1px solid rgba(151, 151, 151, 0.130832);
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    background-color: white;
}

.border-botom {
    border-bottom: 1px solid $border-bottom;
}

.text-bold {
    font-weight: 600;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
  
.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
  
@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
.fadeIn {
    animation-name: fadeIn;
}