@import "../../scss/variables";

.half-side-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#right-side {
    background-color: $secondary-color;
}

#login-btn {
    background-color: $primary-color;
    color: white;
    font-weight: 100;
}